# MiniMIP default bazel build setup.
build --show_timestamps
build --color=yes
build --keep_going
build --cxxopt="--std=c++2a" --repo_env=CC=clang

build:debug -c dbg
build:debug --copt="-g"
build:debug --strip="never"
